<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.platform.mapper.PayOrderMapper">

    <select id="pageQueryByUser" resultType="com.edu.platform.entity.EduPayOrder">
        select * from edu_pay_order
        where user_id = #{userId}
        <if test="queryDTO.status != null">
            and status = #{queryDTO.status}
        </if>
        order by create_time desc
    </select>

</mapper>